@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Libre+Baskerville:wght@700&display=swap');

body{
  background: #EFEFEF;
}

/*Set Font Size*/
.font-small{
	font-size: 14px!important;
}
.font-standart{
	font-size: 18px!important;
}
.font-big{
	font-size: 30px!important;
}

/* Foodways Alert */
.foodways-alert{
  top: 0;
  left: 15px;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 3px;
}

/*Set Font*/
.libre{
	font-family: 'Libre Baskerville', serif;
}
.barlow{
	font-family: 'Barlow Condensed', sans-serif;
}

/*Style Form Input*/
input:focus,select:focus{
	box-shadow: 0px 0px 2px 2px #ffc107!important;
	border: #ffc107!important;
}

/* Register */
.modal-content{
  min-height: 350px;
}
.error{
  position: absolute;
  font-size: 11px;
  font-weight: bold;
}
.register-image{
  position: absolute;
  right: 7px;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  min-height: 348px;
}
.slider-frame{
  overflow: hidden;
  height: 300px;
  width: 536px;
}
.auth-frame{
  overflow: hidden;
  height: 314px;
  width: 568px;
}
.auth-slider{
  width: 1136px;
  height: 300px;
  position: relative;
  display: flex;
  transition: all .5s ease-out;
}
.auth-container{
  width: 568px;
  height: 315px;
  position: relative;
  padding-right: 15px;
}
.slide-auth{
  transform: translateX(-568px);
}
@keyframes slideShow {
  0% {right: 0px;}
  10% {right: 0px;}
  20% {right: 536px;}
  30% {right: 536px;}
  40% {right: 1072px;}
  50% {right: 1072px;}
  60% {right: 536px;}
  70% {right: 536px;}
  80% {right: 0px;}
  90% {right: 0px;}
  100% {right: 0px;}
}
.image-slider{
  width: 1608px;
  height: 300px;
  position: relative;
  animation: slideShow 20s infinite alternate running;
  display: flex;
  margin-top: 10px;
}
.img-container{
  width: 536px;
  height: 300px;
  position: relative;
}
.img-container img{
  width: 300px;
  height: 200px;
}
.footer-modal{
  height: 60px;
}
.close-modal{
  position: absolute;
  z-index: 300;
  top: 10px;
  right: 27px;
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  transition: background 0.4s ease-out;
}
.close-modal:hover{
  background: rgba(255,255,255,1);
}
.close-modal svg{
  font-size: 30px;
  vertical-align: middle;
}

a.navbar-brand{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 30px;
}

.user-icon{
  height: 50px;
  width: 50px;
}

.user-icon-dropdown{
  height: 30px;
  width: 30px;
}

.dropdown-toggle::after{
  display: none;
}

.custom-dropdown a{
  padding: 0;
}

.font-weight-500{
	font-weight: 500;
}

.foodways-modal{
	width: 300px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.foodways-navbar{
	z-index: 200;
}

.landing-page{
	height: 558px;
	padding-top: 150px;
	left: 0;
	right: 0;
	top: 0;
}

.landing-text h1{
	font-size: 55px;
	font-family: 'Libre Baskerville', serif;
}

.icon-default{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 5px;
	width: 60px;
	line-height: 45px;
}
.icon-default svg{
	margin-left: 10px;
	vertical-align: middle;
	font-size: 40px;
}
.popular-restourant-item{
	height: 60px;
}
.popular-restourant-title{
  	font-size: 20px;
	vertical-align: middle;
	margin-left: 70px;
	line-height: 45px;
}

/*Content*/
.content{
	background: #EFEFEF;
	padding: 50px 0;
	margin-top: 480px;
}

.line{
	border-top: 5px solid rgba(67, 52, 52, 1);
	width: 100%;
	margin-top: 15px;
}

.description{
	font-size: 14px;
	font-family: 'Comfortaa', cursive;
}

.pizza img{
	position: absolute;
	width: 408px;
	height: 393px;
	right: 0;
	top: -50px;
}

.popular-restourant{
  	font-family: 'Libre Baskerville', serif;
}


.popular-restourant h2{
	font-family: 'Libre Baskerville', serif;
}

.restourant-near-you{
	font-family: 'Libre Baskerville', serif;
}

.restourant-near-you-item img{
  width: 100%;
}

.restourant-near-you-item h6{
  height: 30px;
}

.restourant-near-you-item span{
  font-size: 12px;
}

/* Detail Product */
.foodways-nav{
    left: 0;
	right: 0;
	top: 0;
	height: 73px;
	z-index: 100;
}

/*Cart Page*/
.cart-page{
	margin: 120px 0 30px 0;
}
.counter span {
	height: 30px;
	width: 30px;
	text-align: center;
	cursor: pointer;
}
.calculate{
	padding: 22px 0;
	margin: 40px 0 0 0;
}

/*Product Menu*/
.products{
	margin: 40px 0 30px;
}

/*Profile Page*/
.profile-page{
	margin: 120px 0 30px 0;
}

.product-image{
	height: 100px;
	width: 100px;
}


/*Map*/
.map-container {
position: relative;
}

.modal-90w{
	width: 90%;
}
.modal{
	overflow-y: hidden!important;
}

/*User Info*/
.user-info span{
	font-size: 20px;
}

.bg-Success{
	background: rgba(0, 255, 71, 0.2);
	width: 70%;
	margin: 6px 0;
	float: right;
}
.bg-Pending{
	background: rgba(255,255,102,0.5);
	width: 70%;
	margin: 6px 0;
	float: right;
}
.bg-Failed{
	background: rgba(204,0,0,0.5);
	width: 70%;
	margin: 6px 0;
	float: right;
}

/*Edit User*/
.bg-input{
	background-color: #EFEFEF!important;
}

/**/
.image-preview{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
}


/*Media Query*/
/*Mobile*/
@media (max-width: 767.98px) {
	.landing-page{
		padding: 100px 30px 50px;
		height: 300px!important;
	}
	.landing-text h1{
		font-size: 30px!important;
	}
	.line{
		border-width: 2px;
	}
	.content{
		margin-top: 200px!important;
		padding: 50px 30px;
	}
}

@media (max-width: 960px) {
	.landing-page{
		padding: 100px 30px 50px;
		height: 500px;
	}
	.landing-text h1{
		font-size: 40px;
	}
	.pizza img{
		width: 300px;
		height: 277px;
		top: 0;
	}
	.content{
		margin-top: 420px;
	}
}
